<div ng-controller="contactListController" ng-init="init()">

    <div class="app-page-header">
        <div class="page-title">
            <h3>Contatos</h3>
        </div>
        <div class="page-tools">

            <div class="row">
                <div class="col-md-8 col-search">
                    <div class="input-group">
                        <input type="search" class="form-control" placeholder="Nome, email ou cpf"
                               ng-model="search_filter" name="search">

                        <span class="input-group-btn">
                            <button class="btn mybtn btn-reset-filter" type="button" ng-click='clearFilter()'
                                    ng-class="{hide:search_filter.length == 0}">
                                <span class="glyphicon glyphicon-remove "></span>
                            </button>

                            <button class="btn btn-primary" ng-click="listAllContacts()"><i class="fa fa-search"></i> Buscar</button>
                        </span>
                    </div>

                </div>
                <div class="col-md-4 text-right">
                    <button name="singlebutton" class="btn btn-primary" ui-sref="main.addeditcontact">Adicionar</button>
                </div>
            </div>

        </div>
    </div>

    <div class="table-responsive">

        <table class="table table-hover">

            <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>CPF</th>
                <th>Telefone</th>
                <th>Nascimento</th>
            </tr>
            </thead>

            <tbody>

            <tr ng-repeat="c in contacts">
                <td>{{c.name}}</td>
                <td>{{c.emails[0]}}</td>
                <td>{{c.cpf}}</td>
                <td>{{c.phones[0]}}</td>
                <td>{{bday(c)}}</td>
                <td>
                    <i class="fa fa-trash-o icon-box" ng-click="preDelete(c)"></i>
                    <i class="fa fa-edit icon-box" ui-sref="main.addeditcontact({id:c.id, contact:c})"></i>
                <td>
            </tr>

            </tbody>

        </table>


        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Exclusão de contato</h4>
                    </div>
                    <div class="modal-body">
                        Você tem certeza que deseja excluir {{preDeletedContact.name}}?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" ng-click="delete()">Excluir</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>