body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: ${symbol_pound}f5f5f5;
}

blockquote {
    margin-bottom: 10px;
    border-left-color: ${symbol_pound}bbb;
}

form {
    margin-top: 10px;
}

.form-signin input[type="text"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.page-tools {
    margin-top: 20px;
    margin-bottom: 20px;
}

.row {
    margin-left: 0px;
    margin-top: 10px;
    overflow: auto;
}

.label {
    width: 90px;
    display: inline-block;
}

.fa.icon-box {
    font-size: 22px;
    margin: 4px;
}

.col-search {
    padding: 0 !important;
}

.btn-reset-filter {
    position: absolute !important;
    left: -35px;
    border: none;
    margin: 4px;
    padding: 3px;
    z-index: 9;
}
